.env
people/__pycache__/
atsameage/__pycache__/
photos/
media/

# Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
celerybeat-schedule.db
celerybeat.pid

# PostgreSQL
*.db-shm
*.db-wal

.old
*.tar
*.log
.DS_Store